.date-input-no-icon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.date-input-no-icon::-webkit-inner-spin-button,
.date-input-no-icon::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date-input-no-icon {
  -moz-appearance: textfield;
}
